#sidebar {
	width: 50px;
	height: calc(100vh - 50px);
	position: fixed;
	top: 50px;
	z-index: 999;
}
.spacing{
	padding: 4px;
	margin-top: 8px;	
	margin-bottom: 8px;
	margin-right: auto;
	margin-left: 4px;
}